body {
    margin-top: 10px;
    margin-left: 10px;
    font-family: helvetica;
    text-align: center;
}

.omitted {
  margin-right: 5px;
}

#x-axis {
  margin: 5px auto;
  margin-top: 0px !important;
}

#y-axis {
  position: absolute;
  top: 22%;
  left: 15%;
}